.venv
.idea
Examples
Homework1
hotel_booking_credit_card_tutoriale/Ardit_version
hotel_booking_credit_card_tutoriale/child_method_overwrite_tutorial.py
hotel_booking_credit_card_tutoriale/planning.txt
